body {
    background-color: rgb(225, 220, 197);
}

h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
    color: rgb(237, 117, 47);
    padding: 0;
}

h3 {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: black;
}

p,
a {
    margin-bottom: 0.5rem;
    color: black;
}

section {
    padding: 3rem;
}

@media (max-width: 50rem) {
    h2 {
        font-size: 5rem;
        padding-top: 3rem;
    }
    h3 {
        font-size: 3rem;
    }
    section {
        padding: 2.5rem;
    }
}

@media (max-width: 26rem) {
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    section {
        padding: 1rem;
    }
    #page-title {
        padding-top: 4rem;
    }
}


/* FORM STYLING */

label,
input,
textarea {
    font-family: Inter, sans-serif;
}

form {
    padding: 1rem;
    margin-top: 2rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    max-width: 30rem;
}

label,
input,
textarea {
    margin: 1rem;
    padding: 0.5rem;
    width: 80%;
    border: 0.1rem;
}

input,
textarea {
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 1rem;
}

textarea {
    min-width: 80%;
    min-height: 5rem;
    max-width: 20rem;
    max-height: 20rem;
}

button {
    background-color: rgb(237, 117, 47);
    border: 0.1rem solid black;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 50%;
}

button:hover {
    background-color: rgb(225, 220, 197);
}


/* GRID FORMATTING */

#contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 40rem) {
    #contact-container {
        grid-template-columns: 1fr;
    }
    h3 {
        margin-top: 0rem;
    }
}